# –ó–∞–¥–∞–Ω–∏–µ 1 ‚Äî –ü–æ–ª—É—á–µ–Ω–∏–µ –∏ –∏–∑—É—á–µ–Ω–∏–µ –≤–∞—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö

–ú—ã –±—É–¥–µ–º –ø–æ–ª—É—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø—Ä—è–º–æ –∏–∑ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–∞.
–û—Å–æ–±–∞—è –±–ª–∞–≥–æ–¥–∞—Ä–Ω–æ—Å—Ç—å: https://github.com/justmarkham –∑–∞ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –º–∞—Ç–µ—Ä–∏–∞–ª–æ–≤.

# –®–∞–≥ 1. –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏.

In [141]:
import pandas as pd
import numpy as np

# –®–∞–≥ 2. –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –∏–∑ —ç—Ç–æ–≥–æ [–∞–¥—Ä–µ—Å–∞](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [187]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# –®–∞–≥ 3. –ü—Ä–∏—Å–≤–æ–π—Ç–µ –µ–≥–æ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π —Å –∏–º–µ–Ω–µ–º chipo.

In [188]:
chipo = pd.read_csv(url, sep = '\t')

# –®–∞–≥ 4. –ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 5 –∑–∞–ø–∏—Å–µ–π.

### .head()
–ú–µ—Ç–æ–¥ .head() –≤ –±–∏–±–ª–∏–æ—Ç–µ–∫–µ Pandas –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –±—ã—Å—Ç—Ä–æ–≥–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ –ø–µ—Ä–≤—ã—Ö –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç—Ä–æ–∫ DataFrame (–æ–±—ã—á–Ω–æ –ø–µ—Ä–≤—ã—Ö 5 –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é). –≠—Ç–æ –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –¥–ª—è –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.

### –ö–∞–∫ —Ä–∞–±–æ—Ç–∞–µ—Ç .head()

chipo.head(n)         # –ì–¥–µ chipo - –Ω–∞–∑–≤–∞–Ω–∏–µ –í–∞—à–µ–≥–æ DataFrame

n ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—ã–≤–æ–¥–∏–º—ã—Ö —Å—Ç—Ä–æ–∫ (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é 5)


–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç:

-–ü–µ—Ä–≤—ã–µ n —Å—Ç—Ä–æ–∫ DataFrame –≤ –≤–∏–¥–µ —Ç–∞–±–ª–∏—Ü—ã.

-–ü–æ–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –∏ –∏–Ω–¥–µ–∫—Å—ã —Å—Ç—Ä–æ–∫.

In [143]:
chipo.head() # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [144]:
 chipo.head(2) # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø–µ—Ä–≤—ã–µ 2 —Å—Ç—Ä–æ–∫–∏

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [145]:
 chipo.head(10) # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ (–µ—Å–ª–∏ —Å—Ç—Ä–æ–∫ –º–µ–Ω—å—à–µ, –≤–µ—Ä–Ω—ë—Ç –≤—Å–µ)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Pandas –Ω–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ head(), –Ω–æ –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å—Ä–µ–∑—ã:


##### df[:3]  = df.head(3)
### –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ: chipo.head(3)

In [146]:
chipo.head(3) # –ú–æ–∂–Ω–æ –∑–∞–ø–∏—Å–∞—Ç—å —Ç–∞–∫ "chipo[:3]"

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [147]:
chipo[:3] # –ú–æ–∂–Ω–æ –∑–∞–ø–∏—Å–∞—Ç—å —Ç–∞–∫ "chipo.head(3)"

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [148]:
chipo[:-2] # –í—Å–µ —Å—Ç—Ä–æ–∫–∏, –∫—Ä–æ–º–µ –∫—Ä–∞–π–Ω–∏—Ö –¥–≤—É—Ö

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25


###  –î–ª—è Series
–†–∞–±–æ—Ç–∞–µ—Ç –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ DataFrame:

In [149]:
serias = pd.Series([10, 20, 30, 40, 50])

In [150]:
serias.head(2)

0    10
1    20
dtype: int64

## –ú–µ—Ç–æ–¥—ã, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Ö–æ–∂—ã –Ω–∞ .head()
üîπ –û—Å–Ω–æ–≤–Ω—ã–µ –∞–Ω–∞–ª–æ–≥–∏ ".head()"

## .tail([n])
- –ü–æ–∫–∞–∑—ã–≤–∞–µ—Ç –ø–æ—Å–ª–µ–¥–Ω–∏–µ n —Å—Ç—Ä–æ–∫ (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é 5).

In [151]:
chipo.tail() # –ü–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∫—Ä–∞–π–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [152]:
chipo.tail(3) # –ü–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∫—Ä–∞–π–Ω–∏–µ 3 —Å—Ç—Ä–æ–∫–∏

,order_id,quantity,item_name,choice_description,item_price
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### .sample([n])
–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª—É—á–∞–π–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏.
–ü–æ —É–º–æ–ª—á–∞–Ω–∏—é —ç—Ç–æ –æ–¥–Ω–∞ —Å—Ç—Ä–æ–∫–∞, –∞ –Ω–µ 5!

In [153]:
chipo.sample() # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –æ–¥–Ω—É —Å–ª—É—á–∞–π–Ω—É—é —Å–∫—Ç—Ä–æ–∫—É

     order_id  quantity          item_name choice_description item_price
341       148         1  6 Pack Soft Drink        [Diet Coke]     $6.49

In [154]:
chipo.sample(3) # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç 3 —Å–ª—É—á–∞–π–Ω—ã–µ —Å–∫—Ç—Ä–æ–∫–∏

,order_id,quantity,item_name,choice_description,item_price
1537,625,1,Chips and Guacamole,NaN,$4.45
1855,752,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.49
981,403,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.99

## .sample(frac=0.1)      
–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª—É—á–∞–π–Ω—ã–µ 10 –ø—Ä–æ—Ü–µ–Ω—Ç–æ–≤ —Å—Ç—Ä–æ–∫

In [178]:
chipo.sample(frac=0.1)      # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª—É—á–∞–π–Ω—ã–µ 10 –ø—Ä–æ—Ü–µ–Ω—Ç–æ–≤ —Å—Ç—Ä–æ–∫

,order_id,quantity,item_name,choice_description,item_price
2049,825,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$10.98
4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
2000,807,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Lettuce]]",$9.25
3943,1581,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
2545,1009,1,Bottled Water,NaN,$1.09
...,...,...,...,...,...
1763,711,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39
1839,745,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",$8.49
2503,995,1,Steak Burrito,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Sou...",$9.25
3805,1525,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
3121,1244,1,Chips and Guacamole,NaN,$4.45

### .info()
–°–≤–æ–¥–∫–∞ –ø–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–µ: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫/—Å—Ç–æ–ª–±—Ü–æ–≤, –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö.

In [155]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### .describe()
–°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∞—è —Å–≤–æ–¥–∫–∞ –ø–æ –ß–ò–°–õ–û–í–´–ú —Å—Ç–æ–ª–±—Ü–∞–º (—Å—Ä–µ–¥–Ω–µ–µ, –º–µ–¥–∏–∞–Ω–∞, min/max, –∫–≤–∞—Ä—Ç–∏–ª–∏).

In [156]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### .dtypes
–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞.

In [157]:
chipo.dtypes # –ú–æ–∂–µ–º —É–≤–∏–¥–µ—Ç—å –Ω–∞–∑–≤–∞–Ω–∏—è –∏ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [158]:
chipo.dtypes['order_id'] # –£–∑–Ω–∞–µ–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é —Å—Ç–æ–ª–±—Ü–∞

dtype('int64')

### .shape 
–†–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü—ã (—Å—Ç—Ä–æ–∫–∏, —Å—Ç–æ–ª–±—Ü—ã).

In [159]:
chipo.shape # –†–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã, 1 —á–∏—Å–ª–æ - –°—Ç—Ä–æ–∫–∏, 2 —á–∏—Å–ª–æ - –°—Ç–æ–ª–±—Ü—ã

(4622, 5)

### .columns 
–°–ø–∏—Å–æ–∫ –Ω–∞–∑–≤–∞–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤.

In [160]:
chipo.columns # –ù–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### .columns[n]
–í—ã–≤–æ–¥–∏—Ç –Ω–∞–∑–≤–∞–Ω–∏–µ (n+1) —Å—Ç–æ–ª–±—Ü–∞

–¢–æ –µ—Å—Ç—å –µ—Å–ª–∏ –ø–∏—à–µ–º 5, —Ç–æ –≤—ã–≤–µ–¥–µ—Ç 6 —Å—Ç–æ–ª–±–µ—Ü

In [161]:
chipo.columns[2] # –í—ã–≤–æ–¥–∏—Ç –Ω–∞–∑–≤–∞–Ω–∏–µ 3 —Å—Ç–æ–ª–±—Ü–∞

'item_name'

### .index 
–ò–Ω–¥–µ–∫—Å—ã —Å—Ç—Ä–æ–∫

In [162]:
chipo.index # –ò–Ω–¥–µ–∫—Å—ã —Å—Ç—Ä–æ–∫

RangeIndex(start=0, stop=4622, step=1)

## .loc
–û–±—Ä–∞—â–µ–Ω–∏–µ –∫ —Å—Ç—Ä–æ–∫–∞–º –∏ –∫ —Å—Ç–æ–ª–±—Ü–∞–º –ø–æ –∏–º–µ–Ω–∏

In [179]:
chipo.loc[:, 'order_id']    # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ –ø–æ –∏–º–µ–Ω–∏

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

## .iloc[—Å—Ç—Ä–æ–∫–∞,—Å—Ç–æ–ª–±–µ—Ü]
–û–±—Ä–∞—â–µ–Ω–∏–µ –∫ —Å—Ç—Ä–æ–∫–∞–º –∏ –∫ —Å—Ç–æ–ª–±—Ü–∞–º –ø–æ –∏–Ω–¥–µ–∫—Å–∞–º

–¢–∞–∫–∂–µ –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å—Ä–µ–∑—ã

In [181]:
chipo.iloc[0]         # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç 1-—É—é —Å—Ç—Ä–æ–∫—É –≤ —Ñ–æ—Ä–º–∞—Ç–µ Serias

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [183]:
chipo.iloc[[0]]         # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç 1-—É—é —Å—Ç—Ä–æ–∫—É –≤ —Ñ–æ—Ä–º–∞—Ç–µ DataFrame

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [184]:

chipo.iloc[:5, 0]           # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø–µ—Ä–≤—ã–µ 5 –∑–Ω–∞—á–µ–Ω–∏–π 1-–≥–æ —Å—Ç–æ–ª–±—Ü–∞

0    1
1    1
2    1
3    1
4    2
Name: order_id, dtype: int64

In [185]:
chipo.iloc[-3:]             # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø–æ—Å–ª–µ–¥–Ω–∏–µ 3 —Å—Ç—Ä–æ–∫–∏

,order_id,quantity,item_name,choice_description,item_price
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [186]:
chipo.loc[:, 'order_id']    # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ –ø–æ –∏–º–µ–Ω–∏

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

### .values 
–î–∞–Ω–Ω—ã–µ –≤ –≤–∏–¥–µ NumPy –º–∞—Å—Å–∏–≤–∞.

In [163]:
chipo.values

array([[1, 1, 'Chips and Fresh Tomato Salsa', nan, '$2.39 '],
       [1, 1, 'Izze', '[Clementine]', '$3.39 '],
       [1, 1, 'Nantucket Nectar', '[Apple]', '$3.39 '],
       ...,
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]',
        '$11.25 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]', '$8.75 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]',
        '$8.75 ']], dtype=object)

## .values[18][4]
–¢–∞–∫ –º—ã –æ–±—Ä–∞—â–∞–µ–º—Å—è –∫ 18 —Å—Ç—Ä–æ–∫–µ, 5 —Å—Ç–æ–ª–±—Ü–∞


–ò–º–µ–Ω–Ω–æ 5, –ø–æ—Ç–æ–º—É —á—Ç–æ –æ–Ω–∏ —Å—á–∏—Ç–∞—é—Ç—Å—è —Ç–∞–∫: 0, 1, 2, 3, 4.

In [164]:
chipo.values[18][4]

'$2.18 '

### .to_string() 
–ß—Ç–æ–±—ã –≤—ã–≤–µ—Å—Ç–∏ –≤–µ—Å—å DataFrame (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é pandas –æ–±—Ä–µ–∑–∞–µ—Ç).
–°—Ç—Ä–æ–∫—É –Ω–µ –±—É–¥–µ–º –≤—ã–ø–æ–ª–Ω—è—Ç—å, –ø–æ—Ç–æ–º—É —á—Ç–æ –¥–∞–Ω–Ω—ã—Ö –º–Ω–æ–≥–æ

## chipo.to_string()

# –®–∞–≥ 5. –°–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ?

In [165]:
chipo.shape # –í—ã–≤–æ–¥–∏—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫, –ø–æ—Ç–æ–º —Å—Ç–æ–ª–±—Ü–æ–≤

(4622, 5)

In [166]:
chipo.shape[0] # –≤—ã–≤–æ–¥–∏—Ç —Ç–æ–ª—å–∫–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫

4622

# –®–∞–≥ 6. –°–∫–æ–ª—å–∫–æ —Å—Ç–æ–ª–±—Ü–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ?

In [167]:
chipo.shape # –í—ã–≤–æ–¥–∏—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫, –ø–æ—Ç–æ–º —Å—Ç–æ–ª–±—Ü–æ–≤
chipo.shape[1] # –≤—ã–≤–æ–¥–∏—Ç —Ç–æ–ª—å–∫–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤

5

### –ò–õ–ò

In [168]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# –®–∞–≥ 7. –í—ã–≤–µ–¥–∏ –∏–º–µ–Ω–∞ –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤

In [169]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# –®–∞–≥ 8. –ö–∞–∫–æ–µ –∏–º—è —É 5 —Å—Ç–æ–ª–±—Ü–∞

In [170]:
chipo.columns[4]

'item_price'

# –®–∞–≥ 9. –ö–∞–∫–æ–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö —É 3 —Å—Ç–æ–ª–±—Ü–∞?

In [171]:
chipo.dtypes['item_name']

dtype('O')

# –®–∞–≥ 10. –ö–∞–∫ –ø—Ä–æ–∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–∞ —ç—Ç–∞ —Ç–∞–±–ª–∏—Ü–∞?

In [172]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# –®–∞–≥ 11. –ö–∞–∫–∞—è —Ü–µ–Ω–∞ —É –∑–∞–∫–∞–∑–∞ –≤ —Å—Ç—Ä–æ–∫–µ 19?

In [173]:
chipo.values[18][4] # –æ–±—Ä–∞—â–∞–µ–º—Å—è –∏ –∫ —Å—Ç—Ä–æ–∫–µ –∏ –∫ —Å—Ç–æ–ª–±—Ü—É
chipo.iloc[18][4] # –æ–±—Ä–∞—â–∞–µ–º—Å—è –∏ –∫ —Å—Ç—Ä–æ–∫–µ –∏ –∫ —Å—Ç–æ–ª–±—Ü—É

'$2.18 '

In [189]:
chipo.values[18] # –û–±—Ä–∞—â–∞–µ–º—Å—è —Ç–æ–ª—å–∫–æ –∫ —Å—Ç—Ä–æ–∫–µ
chipo.iloc[18]   # –û–±—Ä–∞—â–∞–µ–º—Å—è —Ç–æ–ª—å–∫–æ –∫ —Å—Ç—Ä–æ–∫–µ

order_id                        9
quantity                        2
item_name             Canned Soda
choice_description       [Sprite]
item_price                 $2.18
Name: 18, dtype: object