# Задание 1 — Получение и изучение ваших данных

Мы будем получать данные прямо из интернета.
Особая благодарность: https://github.com/justmarkham за предоставление набора данных и материалов.

# Шаг 1. Импортируйте необходимые библиотеки.

In [141]:
import pandas as pd
import numpy as np

# Шаг 2. Импортируйте набор данных из этого [адреса](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [187]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Шаг 3. Присвойте его переменной с именем chipo.

In [188]:
chipo = pd.read_csv(url, sep = '\t')

# Шаг 4. Посмотрите первые 5 записей.

### .head()
Метод .head() в библиотеке Pandas используется для быстрого просмотра первых нескольких строк DataFrame (обычно первых 5 по умолчанию). Это один из самых популярных инструментов для предварительного анализа данных.

### Как работает .head()

chipo.head(n)         # Где chipo - название Вашего DataFrame

n — количество выводимых строк (по умолчанию 5)


Возвращает:

-Первые n строк DataFrame в виде таблицы.

-Показывает названия колонок и индексы строк.

In [143]:
chipo.head() # Возвращает первые 5 строк

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [144]:
 chipo.head(2) # Возвращает первые 2 строки

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [145]:
 chipo.head(10) # Возвращает первые 10 строк (если строк меньше, вернёт все)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Pandas не поддерживает отрицательные значения в head(), но можно использовать срезы:


##### df[:3]  = df.head(3)
### В нашем случае: chipo.head(3)

In [146]:
chipo.head(3) # Можно записать так "chipo[:3]"

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [147]:
chipo[:3] # Можно записать так "chipo.head(3)"

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [148]:
chipo[:-2] # Все строки, кроме крайних двух

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25


###  Для Series
Работает аналогично DataFrame:

In [149]:
serias = pd.Series([10, 20, 30, 40, 50])

In [150]:
serias.head(2)

0    10
1    20
dtype: int64

## Методы, которые похожы на .head()
🔹 Основные аналоги ".head()"

## .tail([n])
- Показывает последние n строк (по умолчанию 5).

In [151]:
chipo.tail() # Показывает крайние 5 строк

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [152]:
chipo.tail(3) # Показывает крайние 3 строки

,order_id,quantity,item_name,choice_description,item_price
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### .sample([n])
Возвращает случайные строки.
По умолчанию это одна строка, а не 5!

In [153]:
chipo.sample() # Возвращает одну случайную сктроку

     order_id  quantity          item_name choice_description item_price
341       148         1  6 Pack Soft Drink        [Diet Coke]     $6.49

In [154]:
chipo.sample(3) # Возвращает 3 случайные сктроки

,order_id,quantity,item_name,choice_description,item_price
1537,625,1,Chips and Guacamole,NaN,$4.45
1855,752,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.49
981,403,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.99

## .sample(frac=0.1)      
Возвращает случайные 10 процентов строк

In [178]:
chipo.sample(frac=0.1)      # Возвращает случайные 10 процентов строк

,order_id,quantity,item_name,choice_description,item_price
2049,825,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$10.98
4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
2000,807,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Lettuce]]",$9.25
3943,1581,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
2545,1009,1,Bottled Water,NaN,$1.09
...,...,...,...,...,...
1763,711,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39
1839,745,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",$8.49
2503,995,1,Steak Burrito,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Sou...",$9.25
3805,1525,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
3121,1244,1,Chips and Guacamole,NaN,$4.45

### .info()
Сводка по структуре: количество строк/столбцов, названия столбцов, количество ненулевых значений, типы данных.

In [155]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### .describe()
Статистическая сводка по ЧИСЛОВЫМ столбцам (среднее, медиана, min/max, квартили).

In [156]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### .dtypes
Типы данных каждого столбца.

In [157]:
chipo.dtypes # Можем увидеть названия и типы данных каждого столбца

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [158]:
chipo.dtypes['order_id'] # Узнаем тип данных по названию столбца

dtype('int64')

### .shape 
Размеры таблицы (строки, столбцы).

In [159]:
chipo.shape # Размер таблицы, 1 число - Строки, 2 число - Столбцы

(4622, 5)

### .columns 
Список названий столбцов.

In [160]:
chipo.columns # Названия столбцов

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### .columns[n]
Выводит название (n+1) столбца

То есть если пишем 5, то выведет 6 столбец

In [161]:
chipo.columns[2] # Выводит название 3 столбца

'item_name'

### .index 
Индексы строк

In [162]:
chipo.index # Индексы строк

RangeIndex(start=0, stop=4622, step=1)

## .loc
Обращение к строкам и к столбцам по имени

In [179]:
chipo.loc[:, 'order_id']    # Возвращает все значения столбца по имени

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

## .iloc[строка,столбец]
Обращение к строкам и к столбцам по индексам

Также можно использовать срезы

In [181]:
chipo.iloc[0]         # Возвращает 1-ую строку в формате Serias

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [183]:
chipo.iloc[[0]]         # Возвращает 1-ую строку в формате DataFrame

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [184]:

chipo.iloc[:5, 0]           # Возвращает первые 5 значений 1-го столбца

0    1
1    1
2    1
3    1
4    2
Name: order_id, dtype: int64

In [185]:
chipo.iloc[-3:]             # Возвращает последние 3 строки

,order_id,quantity,item_name,choice_description,item_price
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [186]:
chipo.loc[:, 'order_id']    # Возвращает все значения столбца по имени

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

### .values 
Данные в виде NumPy массива.

In [163]:
chipo.values

array([[1, 1, 'Chips and Fresh Tomato Salsa', nan, '$2.39 '],
       [1, 1, 'Izze', '[Clementine]', '$3.39 '],
       [1, 1, 'Nantucket Nectar', '[Apple]', '$3.39 '],
       ...,
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]',
        '$11.25 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]', '$8.75 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]',
        '$8.75 ']], dtype=object)

## .values[18][4]
Так мы обращаемся к 18 строке, 5 столбца


Именно 5, потому что они считаются так: 0, 1, 2, 3, 4.

In [164]:
chipo.values[18][4]

'$2.18 '

### .to_string() 
Чтобы вывести весь DataFrame (по умолчанию pandas обрезает).
Строку не будем выполнять, потому что данных много

## chipo.to_string()

# Шаг 5. Сколько строк в таблице?

In [165]:
chipo.shape # Выводит количество строк, потом столбцов

(4622, 5)

In [166]:
chipo.shape[0] # выводит только количество строк

4622

# Шаг 6. Сколько столбцов в таблице?

In [167]:
chipo.shape # Выводит количество строк, потом столбцов
chipo.shape[1] # выводит только количество столбцов

5

### ИЛИ

In [168]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Шаг 7. Выведи имена всех столбцов

In [169]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Шаг 8. Какое имя у 5 столбца

In [170]:
chipo.columns[4]

'item_price'

# Шаг 9. Какой тип данных у 3 столбца?

In [171]:
chipo.dtypes['item_name']

dtype('O')

# Шаг 10. Как проиндексирована эта таблица?

In [172]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# Шаг 11. Какая цена у заказа в строке 19?

In [173]:
chipo.values[18][4] # обращаемся и к строке и к столбцу
chipo.iloc[18][4] # обращаемся и к строке и к столбцу

'$2.18 '

In [189]:
chipo.values[18] # Обращаемся только к строке
chipo.iloc[18]   # Обращаемся только к строке

order_id                        9
quantity                        2
item_name             Canned Soda
choice_description       [Sprite]
item_price                 $2.18
Name: 18, dtype: object