# Задание 2 — Получение и изучение ваших данных


Особая благодарность: https://github.com/justmarkham за предоставление набора данных и материалов.

# Шаг 1. Импортируйте необходимые библиотеки.

In [65]:
import pandas as pd
import numpy as np

# Шаг 2. Импортируйте набор данных из этого [адреса](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

# Шаг 3. Присвойте его переменной с именем chipo.

In [66]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

# Шаг 4. Посмотрите первые 10 записей.

### .head()
Метод .head() в библиотеке Pandas используется для быстрого просмотра первых нескольких строк DataFrame (обычно первых 5 по умолчанию). Это один из самых популярных инструментов для предварительного анализа данных.

### Как работает .head()?

chipo.head(n)         # Где chipo - название Вашего DataFrame

n — количество выводимых строк (по умолчанию 5)


Возвращает:

-Первые n строк DataFrame в виде таблицы.

-Показывает названия колонок и индексы строк.

In [67]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Шаг 5. Сколько строк в таблице?

In [68]:
# Решение 1

chipo.shape[0]  # Количество строк <= 4622

4622

In [69]:
# Решение 2

chipo.info() # Количество строк <= 4622

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Шаг 6. Сколько столбцов в таблице?

In [70]:
chipo.shape[1]

5

# Шаг 7. Выведи все имена столбцов в таблице?

In [71]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Шаг 8. Как проиндексирована таблица?

In [72]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# Шаг 9. Какой самый заказываемый товар?

## .groupby('Название_столбца'): Это ключевая операция в Pandas.

Что она делает: Она группирует все строки вашей таблицы по уникальным значениям в столбце который вы указали в скобках. В нашем случае'item_name'

Как это работает: Представьте, что вы берете всю таблицу и раскладываете ее на стопки. Все строки, где в колонке item_name написано "Chicken Bowl", кладутся в одну стопку. Все строки с "Canned Soda" — в другую. И так для каждого наименования товара.

Результат (c): После этой операции c становится не обычным DataFrame, а специальным объектом DataFrameGroupBy. Это просто "сгруппированные данные". Сами по себе они не отображаются как таблица, но являются готовой основой для дальнейших вычислений над каждой группой.

In [73]:
c = chipo.groupby('item_name')

In [74]:
print(c) # Вывести у нас не получится, только узнаем, что это объект DaraFrameGroupBY

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E2268362D0>

### Но теперь с этим объектом мы можем выполнить определенные операции:

.sum() – сумма значений

.mean() – среднее

.median() – медиана

.min(), .max() – минимум / максимум

.count() – количество ненулевых значений

.size() – размер группы (всех строк)

.nunique() – количество уникальных значений

.first(), .last() – первый / последний элемент

.prod() – произведение

.std(), .var() – стандартное отклонение / дисперсия

.sem() – стандартная ошибка среднего

In [75]:
c_sum = c.sum() # Суммирует все остальные строки по уникальному значению в 'item_name'
c_sum.head()

,order_id,quantity,choice_description,item_price
item_name,,,,
6 Pack Soft Drink,52322,55,[Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...,$6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Barbacoa Bowl,53972,66,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Barbacoa Burrito,74718,91,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Barbacoa Crispy Tacos,5613,12,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl,9708,10,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...

### .sort_values('Example')

Функция .sort_values помогает отсортировать список по столбцу выбранному в скобках, в нашем случае это 'quantity'.

По умолчанию сортировка происходит от самого маленького значения к самому большому, поэтому ставим дополнительный параметр:
ascending = False, по умолчанию ascending = True

sort = df.sort_values('quantity')

Это то же самое, что и:

sort = df.sort_values('quantity', ascending=True)

In [76]:
c = c_sum.sort_values('quantity', ascending=False) #
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Шаг 10. Сколько раз был заказан самый популярный товар?

In [77]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

# Шаг 11. Какой товар в столбце choice_description был заказан чаще всего?

In [78]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

# Шаг 12. Сколько всего товаров было заказано?

Мы уже раньше ознакомились с функциями, которые применяются к объекту groupby, их можно применять и к столбцам.

In [79]:
total_items_orders = chipo['quantity'].sum()
total_items_orders

np.int64(4972)

# Шаг 13. Превратите цену товара в число с плавающей точкой

#### Шаг 13.а. Проверьте тип данных цены товара

In [80]:
chipo['item_price'].dtype

dtype('O')

#### Шаг 13.б. Создайте лямбда-функцию и измените тип данных цены товара.

### .apply() 
"то метод в pandas, который позволяет применять функцию к строкам или столбцам таблицы (DataFrame) или к значениям в колонке (Series).


Это как сказать: «Возьми каждую строку/колонку и сделай с ней что-то по правилам».

In [81]:
dollarizer = lambda x: float(x[1:]) # Берем срез со второго символа, чтобы убрать $ в начале
chipo['item_price'] = chipo['item_price'].apply(dollarizer) # Применяем функцию dollarizer к столбцу 'item_price'

#### Шаг 13.c. Проверьте тип цены товара

In [82]:
chipo.item_price.dtype

dtype('float64')

# Шаг 14. Какова была выручка за период в наборе данных?

In [83]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue: $' + str(revenue))

Revenue: $39237.02

# Шаг 15. Сколько заказов было сделано за период?

In [84]:
orders = chipo['order_id'].value_counts().count()
orders

np.int64(1834)

# Шаг 16. Какой средний чек с одного заказа?

In [85]:
# Решение 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby('order_id').sum()
order_grouped.revenue.mean()

np.float64(21.39423118865867)

In [86]:
# Решение 2

chipo.groupby('order_id')['revenue'].sum().mean()

np.float64(21.39423118865867)

# Шаг 17. Сколько разных товаров продано?

In [87]:
chipo['item_name'].value_counts().count()

np.int64(50)